*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: rgb(238, 11, 105);
    font-family: 'Pacifico', cursive;
}
.navbar-brand:hover{
    color: rgb(0, 0, 0);
}
.nav-item a{
    margin-right: 15px;
    margin-left: 15px;
    color: black;
    text-transform: uppercase;
    font-family: 'san-sarif';
}
.nav-item a:hover{
      color: rgb(238, 11, 105);
}
.far{
    color: rgb(238, 11, 105);
    font-size: 1.1rem;
    cursor: pointer;
}
.fab{
    color: rgb(238, 11, 105);
    font-size: 1.1rem;
    cursor: pointer;
}
.main{
    background: url(./images/offer_img.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main h1{
    font-size: 5rem;
    font-weight: 900;
}
.btn2{
    height:45px;
    width:40%;
    color:white;
    outline: none;
    border:none;
    background: rgb(238, 11, 105);
    font-weight: bold;
    transition: all 0.4s;
    cursor: pointer;
}
.btn2:hover{
    border:1px solid rgb(238, 11, 105);
    background: rgb(231, 225, 225);
    color: black;
    transition: all 0.4s;
}

.btnc{
    position : absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:53px;
    width: 40%;
    color: black;
    border: none;
    outline: none;
    background: rgb(252, 127, 146);
    cursor: all 0.4s;
}
.btnc:hover{
    background: rgb(238, 11, 105);
    color: white;
    transition: all 0.4s;
}

.zoom-n-rotate{
    border-radius: 0;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}
.zoom-n-rotate img{
    transition: transform .5s ease-in-out;
}
.zoom-n-rotate:hover img{
    transform: scale(1.5)
}
.product h1{
    font-weight: 800;
    font-size: 2.6rem;
    text-align: center;
}
.product{
    background: rgb(246,243,243);
}
.circle1{
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.614);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    padding: 32%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s;
    opacity:0;
}
.mix:hover .circle1{
    transition: all 0.4s;
    opacity: 1;
}
.circle1:hover{
    background:transparent;
    color:white;
    transition: all 0.4s;
    
}
.filter h1{
    font-weight: bold;
}
.icon{
    color: rgb(238, 11, 105);
    font-size: 2.5rem;

}
.iconic{
    text-align:justify ;
    font-family: 'prompt',sans-serif;
}
.news{
    background: black;
    font-family: 'prompt',sans-serif;
}
.news a{
    color:white;
    margin: 0;
    cursor: pointer;
    transition: all 0.4s;
}
.news a:hover{
    color: rgb(238, 11, 105);
    padding-left: 5px;
}
.btns{
    height:35px;
    width: 90px;
    border:none;
    outline: none;
    background: white;
    color:rgb(238, 11, 105);
    font-weight: bold;
}
.sub{
    height: 35px;
    width: 200px;
    background: transparent;
    outline:none;
    border: 1px solid white;
    color: white;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background: rgb(53,49,49);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.4s;

}
.circle:hover{
    background: white;
    color: rgb(53,49,49);

}
.copy{
    color: white;
}
